# Temporary files

.*.swp
*.pyc
.DS_Store
__pycache__
Icon

# Data files
*.pkl
*.csv
*.gsheet
bin
include
lib
pip-selfcheck.json
.Python
share
.env
.Rproj.user
packrat/lib*/
.ipynb_checkpoints
.env
*.log
