deap==1.0.2
numpy==1.11.2
pandas==0.19.1
python-dateutil==2.5.3
pytz==2016.7
requests==2.11.1
scikit-learn==0.18
scipy==0.18.1
six==1.10.0
TPOT==0.6.7
tqdm==4.9.0
update-checker==0.12
git+git://github.com/ukgovdatascience/classifyintents.git@master
